# Домашнее задание к семинару 1

***Оформляйте ноутбук, используя эти советы:***
- Номер задачи - заголовок 2
- Номер подзадачи - заголовок 3

***Предоставленные наборы данных оформляйте, как код***

## Задание 1
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [48]:
def warehouse (**kwargs: 'название фркута и значение колличества') -> int:
    return sum(kwargs.values())

In [49]:
warehouse(lemon = 5, orange = 10, grape = 15)

30

## Задание 2
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
```
[100, 125, -90, 345, 655, -1, 0, 200]
```
Используйте list comprehensions

In [50]:
advcost = [100, 125, -90, 345, 655, -1, 0, 200]

In [51]:
avdcost_cleen = [i for i in advcost if i >0]
print(f'сумарные затраты: {sum(avdcost_cleen)}\n{avdcost_cleen}')

сумарные затраты: 1425
[100, 125, 345, 655, 200]

## Задание 3
Даны два списка.

Дата покупки
```
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
```
Суммы покупок по датам
```
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
```

### 3.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [75]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22',
        '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23',
        '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09',
        '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13',
        '2021-10-26', '2021-12-09']

amount = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988,
          6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

#### list comprehensions:

In [146]:
united_data_list = zip(date,amount)
nov_list = [i[1] for i in united_data_list if '-11-' in i[0]]
print(f'операции в ноябре: {nov_list}\nвыручка: {sum(nov_list)}')

операции в ноябре: [4944, 3701, 7037, 4274, 2004, 2822, 316]
выручка: 25098

#### dict comprehensions:

In [147]:
united_data_dict = {}
for i in range(len(date)):
    if date[i] in united_data_dict:
        united_data_dict[date[i]] += amount[i]
    else:
        united_data_dict.update({date[i]:amount[i]})

In [148]:
nov_dict = {i:united_data_dict[i] for i in united_data_dict if '-11-' in i}
print(f'операции в ноябре: {nov_dict}\nвыручка: {sum(nov_dict.values())}')

операции в ноябре: {'2021-11-29': 4944, '2021-11-26': 3701, '2021-11-09': 10175, '2021-11-23': 4274, '2021-11-01': 2004}
выручка: 25098

### 3.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

In [171]:
def auditor (data: list, revenue: list) -> dict:
    separator_data_list = []
    for a in data:
        separator_data_list.append(a.split('-'))

    result = {}
    for j in range(len(separator_data_list)):
        if separator_data_list[j][1] not in result:
            result.update({separator_data_list[j][1]: revenue[j]})
        else:
            result.update({separator_data_list[j][1]: result[separator_data_list[j][1]] + revenue[j]})
    print(result)

In [172]:
auditor(date, amount)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}