In [1]:
import pandas as pd
import numpy as np

In [2]:
a = pd.Series([2,5,7,8,43], index=["popa", "jopa", "pizdec", "huy", "pizda"])
a

popa       2
jopa       5
pizdec     7
huy        8
pizda     43
dtype: int64

In [3]:
a.index

Index(['popa', 'jopa', 'pizdec', 'huy', 'pizda'], dtype='object')

In [4]:
a.values

array([ 2,  5,  7,  8, 43], dtype=int64)

In [5]:
a[3]

8

In [6]:
df = pd.DataFrame({
    'Age': [46, 37, 44, 42, 42],
    'Country': ['Spain', 'Spain', 'Germany', 'Germany', 'France'],
    'Gender': ['Female', 'Female', 'Male', 'Male', 'Male']
})

df

   Age  Country  Gender
0   46    Spain  Female
1   37    Spain  Female
2   44  Germany    Male
3   42  Germany    Male
4   42   France    Male

In [7]:
df['Age']

0    46
1    37
2    44
3    42
4    42
Name: Age, dtype: int64

In [8]:
df.Country

0      Spain
1      Spain
2    Germany
3    Germany
4     France
Name: Country, dtype: object